<!DOCTYPE html>
<meta charset="utf-8">
<title>STEM Donut Chart </title>
<style>
    body {
        width: 960px;
        /* height: 430px; */
    }

    /*attributes for the tip to show during a hover over of a bar*/

    div.tooltip {
        position: absolute;
        text-align: left;
        width: 450px;
        height: 75px;
        padding: 2px;
        margin-left: 20px;
        font: 14px sans-serif;
        line-height: 1.2;
        padding: 12px;
        background: #5b616b;
        color: white;
        border: 0px;
        border-radius: 2px;
        pointer-events: none;
        font-family: Lato;
    }
</style>

<body>
    <div id="donut-charts"></div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
    <script>
        $(function () {
            var donutData = genData();
            var donuts = new DonutCharts();
            donuts.create(donutData);
            $('#refresh-btn').on('click', function refresh() {
                donuts.update(genData);
            });
        });

        function DonutCharts() {
            var charts = d3.select('#donut-charts');
            var chart_m,
                chart_r,

                color = d3.scaleOrdinal()
                .domain(["% offering Algebra I", "%  not offering Algebra I"])
                .range(["#8BD2ED", "#00a6d2"]);
            var getCatNames = function (dataset) {
                var catNames = new Array();
                for (var i = 0; i < dataset[0].data.length; i++) {
                    catNames.push(dataset[0].data[i].cat);
                }
                return catNames;
            }
            var createLegend = function (catNames) {
                var legends = charts.select('.legend')
                    .selectAll('g')
                    .data(catNames)
                    .enter().append('g')
                    .attr('transform', function (d, i) {
                        return 'translate(' + (i * 150 + 50) + ', 10)';
                    });

                legends.append('circle')
                    .attr('class', 'legend-icon')
                    .attr('r', 6)
                    .style('fill', function (d, i) {
                        return color(i);
                    });

                legends.append('text')
                    .attr('dx', '1em')
                    .attr('dy', '.3em')
                    .text(function (d) {
                        return d;
                    });
            }
            var createCenter = function (pie) {
                var eventObj = {
                    'mouseover': function (d, i) {
                        d3.select(this)
                            .transition()
                            .attr("r", chart_r * 0.8);
                    },
                    'mouseout': function (d, i) {
                        d3.select(this)
                            .transition()
                            .duration(500)
                            //.ease('bounce')
                            .attr("r", chart_r);
                    }
                }
                var donuts = d3.selectAll('.donut');
                // The circle displaying total data.
                donuts.append("svg:circle")
                    .attr("r", chart_r * 0.8)
                    .style("fill", "#fff")
                    .on(eventObj);

                donuts.append('text')
                    .attr('class', 'center-txt type')
                    .attr('y', chart_r * -0.16)
                    .attr('text-anchor', 'middle')
                    .style('font-weight', 'bold')
                    .style('font-family', 'Lato')
                    .style('font-size', 24)
                    .text(function (d, i) {
                        return d.type;
                    });
                //make is to default is % of schoools , and hover changes to x out of y schools 
                donuts.append('text')
                    .attr('class', 'center-txt type')
                    .attr('y', chart_r * -0.1)
                    .attr('text-anchor', 'middle')
                    .style('font-family', 'Lato')
                    .style('font-size', 10)
                    .text("________________________________________")
                donuts.append('text')
                    .attr('class', 'center-txt percentage')
                    .attr('y', chart_r * 0.3)
                    .attr('text-anchor', 'middle')
                    .style('font-size', 45)
                    .style('font-family', 'Lato')
                    .text(function (d, i) {
                        return ((d.data[0].val).toFixed(1) + "%")
                    });

                donuts.append('text')
                    .attr('class', 'center-txt value3')
                    .attr('y', chart_r * 0.66)
                    .attr('text-anchor', 'middle')
                    .style('font-size', 18)
                    .style('font-family', 'Lato')
                    .text("");
            }
            var pathAnim = function (path, dir) {
                switch (dir) {
                    case 0:
                        path.transition()
                            .duration(500)
                            .ease(d3.easeBounce)
                            .attr('d', d3.arc()
                                .innerRadius(chart_r * 0.8)
                                .outerRadius(chart_r)
                            );
                        break;
                    case 1:
                        path.transition()
                            .attr('d', d3.arc()
                                .innerRadius(chart_r * 0.8)
                                .outerRadius(chart_r * 1.1)
                            );
                        break;
                }
            }

            function position_tip(x) {
                if (x > 960 / 2.0) {
                    x = x - 960 / 2.0 //move tooltip to left of mouse for elements in the right of page
                }

                return (x)

            }
            //set up interactive funcaitonality 
            var div = d3.select("body").append("div")
                .attr("class", "tooltip")
                .style("opacity", 0);
            var updateDonut = function () {

                function mouseover(d, i, j) {
                    pathAnim(d3.select(this), 1);
                    div.transition().duration(100)
                        .style("opacity", 1);
                    div.html("<span style='font-family: Lato; font-size: 16px;'>Percent of schools that " + d.data.cat +
                            " Algebra I: " + (d.data.val).toFixed(1) + "%</span><br/><hr>" +
                            "<span style='line-height: 1.5; font-family:Lato;'>" +
                            "Total Schools: <span style='font-family: Lato;'>" + (d.data.total_school) +
                            "</span><br/>" +
                            "Schools that " + d.data.cat + " Algebra I: <span style='font-family: Lato;'>" + (d.data
                                .alg_school) + "</span>")
                        .style("left", position_tip(d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY) + "px");
                }


                function mouseout(d, i, j) {
                    var thisPath = d3.select(this);
                    if (!thisPath.classed('clicked')) {
                        pathAnim(thisPath, 0);
                    }
                    div.transition().duration(100)
                        .style("opacity", 0);
                };

                var pie = d3.pie()
                    .sort(null)
                    .value(function (d) {
                        return d.val;
                    });

                var arc = d3.arc()
                    .innerRadius(chart_r * 0.8)
                    .outerRadius(function () {
                        return (d3.select(this).classed('clicked')) ? chart_r * 1.08 : chart_r;
                    });
                // Start joining data with paths
                var paths = charts.selectAll('.donut')
                    .selectAll('path')
                    .data(function (d, i) {
                        return pie(d.data);
                    });
                paths
                    .transition()
                    .duration(1000)
                    .attr('d', arc);

                paths.enter()
                    .append('svg:path')
                    .attr('d', arc)
                    .style('fill', function (d, i) {
                        return color(i);
                    })
                    .style('stroke', '#FFFFFF')
                    .on("mouseover", mouseover)
                    .on("mouseout", mouseout)
            }
            this.create = function (dataset) {
                var $charts = $('#donut-charts');
                chart_m = $charts.innerWidth() / dataset.length / 2 * 0.14;
                chart_r = $charts.innerWidth() / dataset.length / 2 * 0.8;
                // var svg = charts.append('svg')
                //     .attr('class', 'legend')
                //     .attr('width', '100%')
                //     .attr('height', 50)
                //     .attr('transform', 'translate(0, -100)');
                // var sourceLine1 = svg.append("text")
                //     .attr("x", 137)
                //     .attr("y", $charts.innerWidth())
                //     .attr("dx", "1em")
                //     .attr("text-anchor", "middle")
                //     .style("font-size", "14px")
                //     .style("font-family", "Lato")
                //     .style("fill", "#212121")
                //     .text(
                //         "SOURCE: U.S. Department of Education, Office for Civil Rights, 2015–16 Civil Rights Data Collection and National"
                //     );

                var donut = charts.selectAll('.donut')
                    .data(dataset)
                    .enter().append('svg:svg')
                    .attr('width', (chart_r + chart_m) * 2)
                    .attr('height', (chart_r + chart_m) * 2)
                    .append('svg:g')
                    .attr('class', function (d, i) {
                        return 'donut type' + i;
                    })
                    .attr('transform', 'translate(' + (chart_r + chart_m) + ',' + (chart_r + chart_m) + ')');
                //append the x axis label
                createLegend(getCatNames(dataset));
                createCenter();
                updateDonut();
            }

        }
        /*
         * Returns a json-like object.
         */
        function genData() {
            var dataset = [{
                    type: 'Grade 8',
                    data: [{
                        cat: "offer",
                        val: 58.95184618,
                        alg_school: '17,323',
                        total_school: '29,385'
                    }, {
                        cat: "do not offer",
                        val: 41.04815382,
                        alg_school: '12,062',
                        total_school: '29,385'
                    }],
                    alg_school: '17,323'
                },
                {
                    type: 'Grade 9 or 10',
                    data: [{
                        cat: "offer",
                        val: 84.32468087,
                        alg_school: '21,733',
                        total_school: '25,773'
                    }, {
                        cat: "do not offer",
                        val: 15.67531913,
                        alg_school: '4,040',
                        total_school: '25,773'
                    }],
                    alg_school: '21733'
                },
                {
                    type: 'Grade 11 or 12',
                    data: [{
                        cat: "offer",
                        val: 59.74081403,
                        alg_school: '15,397',
                        total_school: '25,773'
                    }, {
                        cat: "do not offer",
                        val: 40.25918597,
                        alg_school: '10,376',
                        total_school: '25,773'
                    }],
                    alg_school: '15,397'
                }
            ]
            return dataset
        }
    </script>
</body>