body {
    font-family: 'LibreFranklin', sans-serif;
    overflow-x: hidden;
}

.tab-pane {
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Noto Serif', serif;
}

h1 {
    color: #212121;
    font-family: "Noto Serif";
    font-size: 40px;
    font-weight: bold;
    line-height: 55px;
}

h2 {
    color: #212121;
    font-family: "Noto Serif";
    font-size: 30px;
    line-height: 41px;
}

div {
    word-wrap: normal;
    -ms-word-wrap: normal;
}

p {
    color: #212121;
    font-size: 18px;
    line-height: 32px;
    width: 100%;
    word-wrap: normal;
    -ms-word-wrap: normal;
}

.row:not(.footer-row):not(.header-row):not(.top-social-row) {
    background: white;
}

.list-group {
    display: none;
}

.list-group-item {
    border: none;
    padding: .3rem 1.5rem;
}

a {
    word-break: break-all;
}

/* normal link */

.container a:link:not(.dropdown-item) {
    color: #046B99;
}

/* visited link */

.container a:visited:not(.dropdown-item) {
    color: #623377;
}

/* mouse over link */

.container a:hover:not(.dropdown-item) {
    color: #046B99;
    text-decoration: underline;
}

/* click moment */

.container a:active:not(.dropdown-item) {
    color: #003f55;
    text-decoration: underline;
}

.dropdown-item:hover {
    background-color: #00A6D2;
    color: white;
}

.list-group-item.active {
    background-color: #00A6D2;
    border-color: #00A6D2;
}

.footer-row p {
    color: white;
}

ul {
    color: #212121;
    font-size: 18px;
    line-height: 32px;
}

ol {
    color: #212121;
    font-size: 18px;
    line-height: 32px;
}

.half-hr {
    width: 50%;
    text-align: left;
    margin-left: 0;
}

.viz-insight img {
    width: 55px;
}

.no-break-p {
    word-break: break-all;
}

.blockquote p {
    color: #212121;
    font-family: "Noto Serif";
    font-size: 18px;
    font-style: italic;
    line-height: 32px;
}

#particle-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.social-icons {
    text-align: right;
    font-size: 26px;
    padding: 15px;
}

.social-icons a {
    margin-left: 10px;
    color: #5B616B;
    text-decoration: none;
}

.social-icons a:nth-child(4) {
    margin-right: 10px;
}

.header-row {
    padding: 150px 0 30px 0;
    background-image: url('../img/ed-logo.svg');
    background-repeat: no-repeat;
    background-position: 3% 6%;
    background-size: 50%;
    margin-bottom: 30px;
    border-bottom: 2px solid #5B616B;
}

/* .header-row img {
    box-shadow: 0px 0px 10px #aaaaaa;
} */

.header-row h1 {
    line-height: 49px;
}

.header-row h1:first-child {
    font-weight: bold;
}

.header-row h1:nth-child(2) {
    margin-bottom: 50px;
}

.header-row h5 {
    font-family: 'LibreFranklin', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.dropdown-main-nav {
    height: 50px;
    width: 205px;
    border: 2px solid #5B616B;
    border-radius: 4px;
    background-color: #FFFFFF !important;
    color: #212121 !important;
    font-size: 20px;
    line-height: 25px;
}

.drop-cap {
    float: left;
    font-family: 'Noto Serif', serif;
    font-size: 60px;
    line-height: 64px;
    padding-right: 8px;
    padding-left: 3px;
}

.intro-row {
    /* border-bottom: 2px solid #5B616B; */
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.intro-text {
    line-height: 32px;
    color: #212121;
    font-size: 18px;
}

.media-body {
    line-height: 32px;
    color: #212121;
    font-size: 18px;
}

.title-with-dash {
    overflow: hidden;
    text-align: center;
    font-style: italic;
}

.title-with-dash:before,
.title-with-dash:after {
    background-color: #5B616B;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.title-with-dash:before {
    right: 0.5em;
    margin-left: -50%;
}

.title-with-dash:after {
    left: 0.5em;
    margin-right: -50%;
}

hr {
    color: #5B616B;
}

.topic-one-row h2 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 20px;
}

.topic-one-row p {
    font-size: 16px;
    line-height: 24px;
}

.topic-one-row h3 {
    font-size: 24px;
    line-height: 33px;
    margin: 30px 0 20px 0;
}

.chart-tip-card {
    max-width: 20rem;
}

.chart-tip-card .chart-fonts {
    color: #5B616B;
    font-size: 48px;
    text-align: center;
}

.closer-look-theme h3 {
    line-height: 75px;
}

.closer-look-theme i {
    font-size: 70px;
    transform: translateY(14px);
}

.footnote {
    color: #212121;
    font-size: 14px;
    line-height: 24px;
}

.viz-insight i {
    font-size: 50px;
}

.lower-info-section p {
    color: #212121;
    font-size: 18px;
    line-height: 32px;
}

#pills-tab {
    border-bottom: 2px solid #D6D7D9;
}

#pills-tab i {
    font-size: 30px;
    color: #AEB0B5;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: initial;
}

.nav-link.active i {
    color: #4A4A4A !important;
}

#pills-tabContent {
    border-bottom: 2px solid #D6D7D9;
}

.card {
    box-shadow: 0px 0px 5px #aaaaaa;
    border-color: #5B616B;
}

.footer-row {
    background-color: #323A45;
    padding: 40px 30px 20px 30px;
    color: white;
}

.footer-row a {
    text-decoration: underline;
    color: white;
}

.fa-cloud-download-alt {
    margin-left: 10px;
}

.footer-social-icons {
    font-size: 1.5rem;
}

.footer-social-icons a {
    text-decoration: none;
    margin-left: 10px;
}

.footer-contact a {
    text-decoration: none;
}

/* overwrite popper transform to abosolute position dropdown for low screen height */

#dropdown-nav {
    transform: translate3d(5px, 58px, 0px) !important;
}

/* responsiveness fine tune */

@media (max-width: 576px) {
    .footer-row img {
        width: 50%;
    }
    .text-right {
        text-align: left !important;
    }
    .footer-social-icons a:first-child {
        margin-left: 0;
    }
}

@media (max-width: 400px) {
    .dropdown {
        width: 100%;
        text-align: right;
    }
    .social-icons {
        width: 100%;
    }
    .long-word-text {
        word-break: break-all;
    }
}