<html>
<meta charset="utf-8">
<title>STEM Bubble Chart - 2 </title>
<div id="chartContainer">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
  
  <script type="text/javascript">  
    var svg = dimple.newSvg("#chartContainer", 1800, 1600);
    d3.csv("data_bubble_2.csv", function (data) {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(120, 80, 370, 325)
      x= myChart.addCategoryAxis("x", "School characteristics");
      x.hidden=true;
      y= myChart.addMeasureAxis("y", "Percentage of students enrolled in a school that offers grade 8 Algebra I ");
      y.overrideMin = 0;
      y.overrideMax = 100;
      y.ticks = 5;
      z= myChart.addMeasureAxis("z", "Number of students enrolled in a school that offers grade 8 Algebra I");
      
      // Control bubble sizes by setting the max and min values
      z.overrideMin = 90;
      z.overrideMax = 600000;

      var s=myChart.addSeries("School characteristics", dimple.plot.bubble);

    // Setting the text under each bubble
    s.afterDraw = function (shp, d) {
     var shape = d3.select(shp);
        svg.append("text")
          .attr("x", parseFloat(shape.attr("cx")))
          .attr("y", parseFloat(shape.attr("cy")) + 45)
          .style("text-anchor", "middle")
          .style("font-size", "16px")
          .style("font-family", "Lato")
          .style("opacity", 0.7)
          .text(d.cx);
    };

      // Handle the hover event - overriding the default behaviour
      s.addEventHandler("mouseover", onHover);
      // Handle the leave event - overriding the default behaviour
      s.addEventHandler("mouseleave", onLeave);

      //Setting the colour scale
       myChart.defaultColors = [
          new dimple.color("#02bfe7", "#ffffff", 1)
        ];
      myChart.draw();

      s.shapes
        .style("stroke-width", 5)
        .style("opacity", 1);

      //Axis settings
      y.titleShape.text("Percent of students enrolled in grade 8 Algebra I ")
        .style("font-size", "16px")
        .style("font-family", "Lato")
        .attr("transform", "translate(170, 0.0)")
        .attr("y", 20)

      y.shapes.selectAll("text")
              .style("text-anchor", "start")
              .style("font-size", "16px")
              .style("font-family", "Lato")
              .attr("transform", "translate(-29, 0.0)");
      
      y.shapes.select("path.dimple-custom-axis-line").style("stroke", "white");
      // Event to handle mouse enter
      function onHover(e) {
        
        // Get the properties of the selected shape
        var cx = parseFloat(e.selectedShape.attr("cx")),
            cy = parseFloat(e.selectedShape.attr("cy")),
            r = parseFloat(e.selectedShape.attr("r")),
            fill = e.selectedShape.attr("fill"),
            stroke = e.selectedShape.attr("stroke");
            
        // Set the size and position of the popup
        var width = 150,
            height = 100,
            x = (cx + r + width + 10 < svg.attr("width") ?
                  cx + r + 10 :
                  cx - r - width - 20);
            y = (cy - height / 2 < 0 ?
                  15 :
                  cy - height / 2);
                
        
        // Create a group for the popup objects
        popup = svg.append("g");
        
        // Add a rectangle surrounding the tooltip
        popup
          .append("rect")
          .attr("x", x + 5)
          .attr("y", y - 5)
          .attr("width", 520)
          .attr("height", 140)
          .style("fill", "#5b616b")
          .style("opacity", 1)

        popup
          .append("text")
          .attr("x", x + 10) 
          .attr("y", y + 35)
          .text("School Characteristics:  " + e.xValue)
          .style("font-family", "Lato")
          .style("font-size", 18)
          .style("fill", "white");

        popup
          .append("text")
          .attr("x", x + 10)
          .attr("y", y + 48)
          .text("___________________________________________________________________________________________")
          .style("font-family", "Lato")
          .style("font-size", 14)
          .style("fill", 'white');

          popup
          .append("text")
          .attr("x", x + 10)
          .attr("y", y + 78)
          .text("Number of students enrolled in a school that offers grade 8 Algebra I:  ")
          .style("font-family", "Lato")
          .style("font-size", 14)
          .style("fill", 'white');

          popup
          .append("text")
          .attr("x", x + 435)
          .attr("y", y + 78)
          .text(d3.format(",.0f")(e.zValue))
          .style("font-family", "Lato")
          .style('font-weight', 'bold')
          .style("font-size", 14)
          .style("fill", 'white');

          popup
          .append("text")
          .attr("x", x + 10)
          .attr("y", y + 106)
          .text("Percentage of students enrolled in a school that offers grade 8 Algebra I :  " )
          .style("font-family", "Lato")
          .style("font-size", 14)
          .style("fill", 'white');

          popup
          .append("text")
          .attr("x", x + 457)
          .attr("y", y + 106)
          .text(d3.format(",.0f")(e.yValue) + "%")
          .style("font-family", "Lato")
          .style('font-weight', 'bold')
          .style("font-size", 14)
          .style("fill", 'white');



      // Filter the data for the selected brand and sku
      var hoverData = []
        tipChart = new dimple.chart(svg,  hoverData);        
      };
      
      
      // Event to handle mouse exit
      function onLeave(e) {
        // Remove the chart
        if (tipChart !== null) {
          tipChart._group.remove();
        }
        // Remove the popup
        if (popup !== null) {
          popup.remove();
        }
      };

    });
  </script>
</div>
</html>